apiVersion: kubeadm.k8s.io/v1beta2 # TODO: Update to new API version... https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2?tab=doc
kind: ClusterConfiguration
kubernetesVersion: v1.18.6 # change according to kubeadm supported version
apiServer:
  bindPort: {{ kubernetes_api_port }}
  certSANs:
  - 127.0.0.1
  - {{ stack_name }}
  - {{ stack_name }}.{{ domain }}
  - "*.{{ stack_name }}.{{ domain }}"
  - "*.api.{{ stack_name }}.{{ domain }}"
  - "*.apps.{{ stack_name }}.{{ domain }}"
  - kubernetes
  - kubernetes.default
  - {{ stack_name }}.default
  - kubernetes.default.svc
  - {{ stack_name }}.default.svc
  - kubernetes.default.svc.cluster.local
  - "*.kubernetes.default.svc.cluster.local"
  - {{ stack_name }}.default.svc.cluster.local
  - "*.{{ stack_name }}.default.svc.cluster.local"
  extraArgs:
    authorization-mode: Node,RBAC
    feature-gates: "TTLAfterFinished=true"
    audit-policy-file: "/etc/kubernetes/audit-policy.yaml"
    audit-log-path: "/etc/kubernetes/audit/kube-apiserver-audit.log"
    audit-log-maxage: "2"
  extraVolumes:
  - name: "audit-policy"
    hostPath: "/etc/kubernetes/audit-policy.yaml"
    mountPath: "/etc/kubernetes/audit-policy.yaml"
    readOnly: false
    pathType: File
  - name: "audit-volume"
    hostPath: "/var/log/kubernetes/audit"
    mountPath: "/etc/kubernetes/audit"
    readOnly: false
    pathType: DirectoryOrCreate
  timeoutForControlPlane: 4m0s
certificatesDir: /etc/kubernetes/pki
## clusterName: {{ stack_name }}
clusterName: kubernetes
controlPlaneEndpoint: "api.{{ stack_name }}.{{ domain }}:{{ kubernetes_api_port }}"
controllerManager: 
  extraArgs:
    feature-gates: "TTLAfterFinished=true"
    bind-address: 0.0.0.0
dns:
  #type: CoreDNS
  type: kube-dns
etcd:
  local:
    imageRepository: "k8s.gcr.io"
    dataDir: /var/lib/etcd
imageRepository: k8s.gcr.io
networking:
  dnsDomain: cluster.local
  podSubnet: {{ kubernetes_cni_cidr }} # change according to your requirements
  serviceSubnet: 10.96.0.0/12 # change according to your requirements
scheduler:
  extraArgs:
    feature-gates: "TTLAfterFinished=true"
    bind-address: 0.0.0.0
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
FeatureGates:
  TTLAfterFinished: true